.wc-poczta {
  &__container {
    margin-bottom: 20px;
  }

  &__button {
    width: 100%;
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;

    &[type="text"]:disabled {
      opacity: 1 !important;
    }
  }

  &__easypack-map {
    background-color: rgba(0,0,0,.5);

    #widget-modal__map:not(.mobile),
    .easypack-widget:not(.mobile) {
      overflow: hidden !important;
    }
  }
}

.wp-admin {
  #woocommerce-order-wcpoczta {
    .postbox-header {
      display: none;
    }

    .inside {
      padding: 0 !important;
      margin: 0 !important;
    }

    .wc-poczta-order {
      position: relative;
      display: flex;
      align-items: center;
      padding: 10px 24px;

      &__wrapper {
        width: 100%;
      }

      &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        & > * {
          flex-shrink: 0;
          width: 100%;
          max-width: 100%;
        }
      }

      &__column {
        padding: 1em 0;

        & > div:not(:first-child) {
          margin-top: 1em;
        }
      }

      &__flex {
        display: flex;
        align-items: center;
      }

      &__image {
        display: none;
        margin-right: 24px;

        svg,
        img {
          object-fit: contain;
          width: 100px;
          max-width: 100%;
        }
      }

      &__clipboard {
        display: inline-block;
        width: 12px;
        height: 12px;
        cursor: pointer;
        margin-left: 5px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%232271b1' viewBox='0 0 16 16' width='16' height='16'><path fill-rule='evenodd' d='M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z'/><path d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z'/><path d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z'/></svg>");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.26, 0.66, 0.45, 0.78);

        :hover {
          opacity: 0.8;
        }
      }

      &__footer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 8px;
        font-size: 8px;
        font-weight: bold;
        color: #ababab;

        a {
          color: #ababab;
        }
      }

      h3 {
        font-size: 1em;
        color: #333;
        margin: 0;
        display: block;
        font-weight: 600;
      }

      @media (min-width: 850px) {
        &__image {
          display: block;
        }

        &__column {
          flex: 0 0 auto;
          width: 33.33333333%;
        }
      }
    }

    .wc-poczta-notice {
      padding: 10px 24px;
      font-size: smaller;
      color:#777;

      a {
        color:#777;
      }
    }

    .wc-poczta-alert {
      display: flex;
      align-items: center;
      padding: 10px 24px;
      border-top: 2px solid;

      &.--hidden {
        display: none;
      }

      &.--success {
        color: #0f5132;
        background-color: #d1e7dd;
        border-color: #badbcc;
      }

      &.--warning {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}
